<div class="todo-container">
  <h1>Todo App</h1>

  <div class="add-todo">
    <input [(ngModel)]="newTodo.title" placeholder="Title" class="todo-input" />
    <input
      [(ngModel)]="newTodo.description"
      placeholder="Description"
      class="todo-input"
    />
    <button (click)="addTodo()" class="add-button">Add Todo</button>
  </div>

  <div class="todo-list">
    <div *ngFor="let todo of todos" class="todo-item">
      <div class="todo-info">
        <h3 [class.completed]="todo.completed">{{ todo.title }}</h3>
        <p>{{ todo.description }}</p>
      </div>
      <div class="todo-actions">
        <input
          type="checkbox"
          [checked]="todo.completed"
          (change)="toggleComplete(todo)"
        />
        <button (click)="deleteTodo(todo.id)" class="delete-button">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
